<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShosBackend.ECommerceConnections.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ShosBackend.ECommerceConnections.Properties.Settings>
            <setting name="ShosBackend_ECommerceConnections_com_ebay_developer_FindingService"
                serializeAs="String">
                <value>https://svcs.ebay.com/services/search/FindingService/v1</value>
            </setting>
        </ShosBackend.ECommerceConnections.Properties.Settings>
    </applicationSettings>
</configuration>